body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', medium;
    color: black;
    font-size: 14px;
}

.container {
    width: 1000px;
    /*позиционирование по центру*/
    margin: 0 auto;
}

.menu {
    display: flex;
    margin-left: 290px;
    letter-spacing: 0.01em;
    line-height: 20px;
}

header {
    width: 100%;
    height: 300px;
    background: url('../img/imgBack4.jpg') no-repeat center top / cover;
}

.reportText1 {
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
}

.nav {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 0px;
}

.navText1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    margin-right: 130px;
}

.navText2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.navText {
    font-size: 18px;
    margin-bottom: 50px;

}

video {
    height: auto;
    width: 700px;
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    .container {
        width: 800px;
    }

    .menu {
        display: flex;
        margin-left: 190px;
        letter-spacing: 0.01em;
        line-height: 20px;
    }

    .menu li a,
    .tel {
        text-decoration: none;
    }

    .menu li {
        margin-right: 25px;
    }

    .tel {
        margin-left: 140px;
    }

    .navText {
        font-size: 18px;
    }

}

@media (max-width: 800px) {
    .nav {
        flex-direction: column;
        margin-top: 20px;
    }

    .reportText1 {
        font-size: 25px;
    }

    .navText1 {
        text-align: left;
        font-size: 15px;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .navText2 {
        text-align: left;
        font-size: 15px;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    video {
        width: 450px;
        margin-bottom: 20px;
    }

    .navText {
        font-size: 15px;
        margin-bottom: 20px;
    }
}